body{
    font-family: arial;
    color: #333;
}
header {
    height: 10vh;
    background-color: #ddd;
    box-shadow: 2px 2px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.price_currency{
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.price_currency span{
    font-size: 12px;
}
.price_currency img {
    width: 25px;
    opacity: 0.5;
}
.price_currency img:hover {
    opacity: 1;
    cursor: pointer;
}
h1{
    text-align: center;
}
.product_container{
    width: 40%;
    border: 1px solid #ddd;
    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
}
.product_container h2{
    text-align: center;
    background-color: #eee;
    padding: 10px;
}
.product_container img{
    height: 250px;
    margin: 0 auto;
    display: block;
    margin-bottom: 1rem;
    cursor: -webkit-zoom-in;
}
button{
    background-color: #965896;
    color: #fff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem 5px 1rem 5px;
    outline: none;
}
.product_container button:hover {
    background-color: #840484;    
}
.active {
    background-color: #ff5722;
}
#price_container, #specs_container, #review_container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#price_container span{
    font-size: 2rem;
    font-weight: bold;
}
#specs_container > div{ 
    margin-bottom: 5px;   
}
#specs_container .key {
    font-weight: bold;
}  
#review_container form input[type="text"]{
    width: 50%;    
} 
#review_container form input[type="submit"]{
    background-color: #ff5722;
    color: #fff;
    border-radius: 0 3px 3px 0;   
} 
#review_container > div .review_star{
    font-size: 2rem;
    color: #965896;
    cursor: pointer;
}
.bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.70);
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg img {
    height: 90vh;
}
.review_container{
    width: 90%;
    margin: 0 auto;
    border: 1px solid #eee;
    margin-top: 1rem;
    padding: 1rem 0 1rem 0;
    border-radius: 5px;
}
.review_container .comment{
    font-style: italic;
    font-family: serif;
    display: block;
}

